<section>
    <div class="container">
        <div class="section-content">
          <div class="row">
           <p>Test twig template!</p>
           {{ content }}
           </div>
        </div>
    </div>
</section>
